body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #f0f0f0;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
}
.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%; /* Adjust the width as per your design */
    height: 100%;
    background-color: rgba(0, 0, 255, 0.1); /* Semi-transparent white background */
    z-index: 10; /* Higher z-index than canvas */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3); /* Add shadow for overlay effect */
    overflow-y: auto; /* Make the sidebar scrollable */
}
.tools {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 100, 50, 0.7);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.tool-buttons {
    display: flex;
    flex-direction: row;
}

.tool-button {
    width: 40px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 30%;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.tool-button.active {
    border-color: #007bff;
    background-color: #e6f2ff;
}

.tool-button img {
    width: 25px;
    height: 25px;
}

#eraser-tool {
    margin-left: 5px;
}

.size-slider {
    margin-left: 5px;
    cursor: pointer;
}
.color-picker {
    cursor: pointer;
    margin-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 30%;
    border: 3px solid #fff;
    height: 40px;
    width: 40px;
    padding: 0px;
}
.color-picker::-webkit-color-swatch {
    border: none;
    padding: 0;
}
.color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}
.color-picker::-moz-color-swatch {
    border: none;
    padding: 0;
}
.output-section {
    margin: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.output-section h4 {
    margin-top: 0;
}
.output-content {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    background-color: white;
    white-space: break-spaces;
    font-family: monospace;
}
#generate-button {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 30%;
    border: none;
    background-color: #e3ff2c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}
#generate-button img {
    width: 25px;
    height: 25px;
}
#canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}
#loading {
    display: none;
    text-align: center;
    padding: 10px;
}
.konvajs-content {
    cursor: crosshair;
}
/*Pointer position display bar*/
.position-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 5px 10px;
    font-size: 14px;
    border-top: 1px solid #ccc;
    text-align: left;
}